:root {
    --bg: rgb(255, 255, 255);
    --border: rgb(240, 240, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    perspective: 512rem;
    overflow: hidden;
}

.container {
    background-color: var(--border);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(55deg) rotateY(-5deg) rotateZ(35deg) translateZ(-32rem);
    border: 1px solid var(--border);
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    gap: 1px;
}

.tile {
    background-color: var(--bg);
    width: 5rem;
    aspect-ratio: 1;
    transition: background-color 2s ease;
}

.tile:hover {
    transition-duration: 0s;
}